.body{
  margin: 0;
}

.flowers{
  width: 100%;

}

#dandelion{
  width: 100%;
  height: 100%;
}

#carantion{
  width:100%;
  height: 100%;
}

#lady-slipper{
  width: 100%;
  height: 100%;
}

@media(min-width: 500px){

}
